<!DOCTYPE html>
<html>
<head>
    <title>D3 Project</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
    
<body><center>
<h1>Welcome to Drone Strike Data</h1>    
<h3>Click one of the following buttons for razzling data about US drone strikes</h3>

<form action="leaders.html">
<button type ="submit" class = "btn btn-info" id="leaders"># of Leader's Killed</button>
</form>
    
    <br> <br>
<form action = "militants.html">
<button type ="submit" class = "btn btn-info" id="militant"># of Militants Killed</button>
    </form>    

    <br> <br>
    
<form action = "civilians.html" > 
<button type ="submit" class = "btn btn-info" id="civilians"># of Civilians Killed</button>
</form>    
    
    <br> <br>
<form action="strikes.html">
<button type ="submit" class = "btn btn-info" id="strikes">Total Strikes</button>
    </form>

</center>



</body>

</html>
                                   
                                   